@import '../../../cryptoprint/sections/index/config';

.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 101;
  .app-header {
    text-align: center;
    @include tablet {
      display: flex;
    }
    @include mobile {
      padding: 10px 12px 0 12px;
      position: fixed;
      background: $blue-gradient;
      width: 100%;
      top: 0;
    }
    .brand {
      margin: 0;
      position: absolute;
      left: 60px;
      top: 0;
      @include tablet {
        position: static;
      }
      .logo {
        display: block;
        width: 176px;
        @include mobile {
          display: none;
        }
      }
      .logo-mobile {
        display: none;
        @include mobile {
          display: block;
          width: 35px;
          svg * {
            fill: #fff;
          }
        }
      }
      .menu {
        display: none;
      }
      .cryptoprint {
        margin: 0;
        min-width: 0;
        height: auto;
        display: flex;
        align-items: center;
        .cryptoprint-icon {
          width: 44px;
          height: 44px;
          path {
            fill: rgba(255, 255, 255, 0.987);
          }
        }
      }
    }
    .content {
      max-width: 750px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      @include tablet {
        margin-right: 10px;
        margin-left: auto;
        max-width: 300px;
      }
      @include mobile {
        margin-right: auto;
      }
    .nav-btn {
      text-transform: none;
      font: 500 14px/32px $main-font;
      padding: 0 5px;
      min-width: auto;
      letter-spacing: .03em;
      &:last-child {
        margin-right: 0;
      }
      div:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:hover {
        background: transparent;
        font-weight: bold;
        div:after {
          width: 100%;
        }
      }
    }
    }
    .md-btn {
      color: rgba(#fff, 0.987);
    }
  }
}


