.header {
  position: sticky;
  top: 0;
  z-index: 101;
  .app-header {
    .brand {
      margin: 0;
      .menu {
        display: none;
      }
      .cryptoprint {
        margin: 0;
        min-width: 0;
        height: auto;
        display: flex;
        align-items: center;
        .cryptoprint-icon {
          width: 44px;
          height: 44px;
          path {
            fill: rgba(255,255,255,0.987);
          }
        }
      }
    }
    .md-btn {
      color: rgba(#fff, 0.987);
    }
  }
}
