$breakpoint: 500px;
$dark-grey: #555864;
$main-color: #314cc6;

$blue-gradient: linear-gradient(69deg, #8794f6, #0022ab);
$main-font: 'freight_medium';

@mixin mobile {
  @media (max-width: 640px) {
    @content
  }
}


@mixin tablet {
  @media (max-width: 1024px) {
    @content
  }
}