@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}

.md-progress.pl {
  background: #CCC;
  > div {
    background: red;
  }
  &.set {
    > div {
      background: green;
    }
  }
}

.index-section {
	section {
		width: 100%;
		padding: 200px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 640px) {
			padding-top: 100px;
		}
	}
	@import './parts/hero.scss';
	@import './parts/attributes.scss';
	@import './parts/features.scss';
	@import './parts/testimonials.scss';
	@import './parts/social.scss';
	@import './parts/team.scss';
	@import './parts/community.scss';
	@import './parts/second-cta.scss';
	@import './parts/newsletter.scss';
	@import './parts/preorder.scss';
	@import './parts/footer.scss';
}
