  @import '../config';

.footer {
  background: $dark-grey;
  .flex-container {
    align-items: center;
    justify-content: space-between;
    height: 149px;
    padding: 0 100px;
  }
  svg {
    width: 300px;
  }
}
