  @import '../config';

.footer {
  margin-top: 200px;
  background: $dark-grey;
  color: #fff;
  @include tablet {
    margin-top: 100px;
  }
  @include mobile {
    margin-top: 50px;
  }
  svg {
    width: 176px;
  }
  .footer-top {
    border-bottom: 1px solid #fff;
    .flex-container {
      align-items: flex-start;
      justify-content: space-between;
      padding: 90px 100px 70px;
      @include tablet {
        padding: 20px 12px;
        align-items: center;
      }
      >* {
        @include tablet {
          margin-bottom: 20px;
          text-align: center;
        }
      }
      h4 {
        font: 18px/32px 'freight_bold';
        color: #fff;
        margin-bottom: 0;
      }
      nav {
        li {
          list-style-type: none;
        }
      }
      .circle-btn {
        background: transparent;
        border: 2px solid #fff;
      }
      .contact {
        a {
          font-size: 18px;
          margin-top: 5px;
        }
        .social-links {
          margin-top: 23px;
          li {
            width: 40px;
            height: 40px;
            flex: 0 0 40px;
            background: #fff;
            svg {
              fill: $dark-grey;
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    padding: 0 96px 0 100px;
    @include tablet {
      padding: 10px;
    }
    .flex-container {
      align-items: center;
      justify-content: space-between;
      height: 66px;
      @include tablet {
        justify-content: center;
        height: auto;
      }
      span {
        color: #fff;
        letter-spacing: .03em;
      }
    }
  }
}
