@import '../config';

.hero-content {
  padding: 120px 0;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: $blue-gradient;
  text-align: center;
  font-family: $main-font;
  @include mobile {
    padding: 10vh 0 0;
    height: 100vh;
  }
  .hero-container {
    margin: 0 auto;
    max-width: 640px;
    color: #fff;
    @include tablet {
      padding: 0 12px;
    }
    svg {
      width: 300px;
      @include mobile {
        display: none;
      }
    }
    .action {
      margin-top: 50px;
    }

    h1, h3, .btn {
      z-index: 10;
      // color: #fff;
      white-space: normal;
    }
    .action {
      margin-top: auto;
    }
    h2 {
      font: 500 50px/55px $main-font;
      color: #fff;
      margin-top: 76px;
      margin-bottom: 24px;
      @include mobile {
        font-size: 48px;
      }
    }
    p {
      color: #fff;
      font: 20px/23px 'freight_light';
      margin-bottom: 97px;
      @include mobile {
        margin-bottom: 2vh;
      }
    }
    //.circle-btn {
    //  background: #fff;
    //  color: $main-color;
    //  &:hover {
    //    background: $blue-gradient;
    //    color: #fff;
    //  }
    //}
  }
}



