@import '../config';

.hero-content {
  padding: 120px 0;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: $blue-gradient;
  text-align: center;
  font-family: $main-font;
  .hero-container {
    margin: 0 auto;
    max-width: 640px;
    color: #fff;
    svg {
      width: 300px;
    }
    .action {
      margin-top: 50px;
    }

    h1, h3, .btn {
      z-index: 10;
      // color: #fff;
      white-space: normal;
    }
    .action {
      margin-top: auto;
    }
    h2 {
      font: 500 50px/55px $main-font;
      color: #fff;
      margin-top: 76px;
      margin-bottom: 24px;
    }
    p {
      color: #fff;
      font: 20px/23px 'freight_light';
      margin-bottom: 97px;
    }
    .circle-btn {
      background: #fff;
      color: $main-color;
      &:hover {
        background: $blue-gradient;
        color: #fff;
        border: $main-color;
      }
    }
  }
}



