  @import '../config';

.newsletter {
  p {
    font: 18px/32px 'freight_medium';
    margin: 0;
  }
  .form-container {
    display: flex;
    padding: 0 30px 30px;
    justify-content: space-between;
    align-items: center;
    hr {
      display: none;
    }
    label {
      font: 16px/50px 'freight_light' !important;
      color: $dark-grey;
      margin-left: 28px;
      transform: translate3d(0, 21px, 0);
      &.md-floating-label--floating {
        transform: translate3d(0, -12px, 0);
      }
    }
    input {
      background: #f7f7f7;
      line-height: 50px;
      border-radius: 100px;
      padding: 0 10px 0 28px;
      margin-top: 20px;
      width: 480px;
    }
    .sub-btn {
      background: $blue-gradient;
      margin-left: 20px;
      border: none;
      &:hover {
        background: #fff;
        color: $main-color;
      }
    }

  }
  @media only screen and (max-width: $breakpoint) {

      h3 {
        white-space: normal!important;
        text-align: center;
      }
      .form-container {
        flex-direction: column;
        align-items: center;
        .submit-btn {
          margin-top: 20px;
          width: 50%;

        }
      }
  }
}
