  @import '../config';

.team {
  p {
    max-width: 540px;
    font-size: 16px;
    margin-bottom: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 220px;
    max-width: 1200px;
    padding: 0;
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      margin-top: 90px;
    }
    li {
      background-color: #f7f7f7;
      width: 30%;
      padding: 122px 75px 4rem 35px;
      position: relative;
      min-height: 404px;
      text-align: center;
      list-style-type: none;
      margin: 0 10px 145px;
      @include tablet {
        width: 100%;
        height: auto;
        padding: 122px 12px 4rem 12px;
        margin: 0 0 145px;
        &:last-child {
          margin-bottom: 40px;
          @include mobile {
            margin-bottom: 0;
          }
        }
      }
      @include mobile {
        margin-bottom: 90px;
      }
      .avatar {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        margin: 0 auto 20px;
        img {
          display: block;
          margin: 0 auto;
          max-width: 150px;
          height: 150px;
          position: relative;
        }
      }
      h3 {
        font: 16px/32px 'freight_bold';
        text-align: center;
        margin-bottom: 0;
        @include mobile {
          text-align: center;
        }
      }
      p {
        font: 18px/28px 'freight_medium';
        @include mobile {
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}
