  @import '../config';

.team {
  p {
    max-width: 540px;
    font-size: 16px;
    margin-bottom: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 220px;
    max-width: 1200px;
    padding: 0;
    li {
      background-color: #f7f7f7;
      width: 30%;
      padding: 122px 75px 4rem 35px;
      position: relative;
      height: 404px;
      text-align: left;
      list-style-type: none;
      margin: 0 10px 145px;
      .avatar {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        margin: 0 auto 20px;
        img {
          display: block;
          margin: 0 auto;
          max-width: 150px;
          height: 150px;
          position: relative;
        }
      }
      h3 {
        font: 16px/32px 'freight_bold';
        text-align: left;
        margin-bottom: 0;
      }
      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
    @media only screen and (max-width: $breakpoint) {

      padding: 1.2rem 0;
      >p {
        width: 95%;
        text-align: center;
      }
      ul {
        width: 95%;
        padding: 0;
        .team-member {
          width: 90%;
        }
      }
  }
}
