  @import '../config';

.team {
  background: #e6e4e2;
  padding: 11rem 0;
  p {
    max-width: 540px;
    font-size: 16px;
    margin-bottom: 2rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    width: 80%;
    padding: 0;
    li {
      background-color: #fff;
      width: 30%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      padding: 4rem 2rem;
      justify-content: flex-start;
      align-items: center;
      border-radius: 5px;

      //box-shadow: 2px 2px 7px grey;
      .avatar {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
        overflow: hidden;
        img {
          display: block;
          margin: 0 auto;
          max-width: 150px;
          height: 150px;
          position: relative;
        }
      }
      &.tid-shimond .avatar img {
        transform: scale(1.8);
        top: 16px;
      }
      &.tid-danielb .avatar img {
        transform: scale(1.3);
      }
      &.tid-elis .avatar img {
        transform: scale(1.2);
      }
      div {
        display: flex;
        margin-bottom: 20px;
        h3 {
          font-size: 20px;
          font-weight: bold;
        }
        i {
          font-size: 24px;
          margin: 0 7px;
          &:hover {
            color: #bc5f87;
            cursor: pointer;
          }
        }
      }
      p {
        text-align: center;
        font-size: 14px;
      }
    }
  }
    @media only screen and (max-width: $breakpoint) {

      padding: 1.2rem 0;
      >p {
        width: 95%;
        text-align: center;
      }
      ul {
        width: 95%;
        padding: 0;
        .team-member {
          width: 90%;
        }
      }
  }
}
