// Can't use the nice '~react-md/src/scss/react-md' since this isn't being bundled with webpack
@import '../node_modules/react-md/src/scss/react-md';
@import '../src/modules/cryptoprint/sections/index/config';

$md-light-theme: true; // optional for light theme
$md-primary-color: $md-green-500;
$md-secondary-color: $md-blue-800;

$light-black: #1e1e1e;
$light-grey: #f7f7f7;
$medium-grey: #5e616a;
$white: #fff;
$margin-b: 255px;

@include react-md-everything;
//
// Or for a subsection
@include react-md-theme-everything($md-green-500, $md-deep-purple-a-100, $md-light-theme, 'custom-theme');

// @import '../node_modules/react-md/src/scss/react-md';

a {
  color: #fff;
}
h3 {
  white-space: inherit;
}
body {
  #root {
    .app-wrap {
      .App {
        color: $medium-grey;
        font: 18px/21px 'freight_medium';
        .darkd {
          $md-light-theme: false; // optional for light theme
          $md-primary-color: $md-green-500;
          $md-secondary-color: $md-blue-800;
          @include react-md-theme-everything($md-green-500, $md-deep-purple-a-100, $md-light-theme, 'custom-theme');
        }
      }
    }
  }
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.flex-container {
  display: flex;
}
.md-text-field-message {
  color: #fff;
}
.preloader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $blue-gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  img {
    display: block;
    width: 100px;
  }
}

.loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
.box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
}
.shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}

.title {
  font-size: 40px;
  padding-bottom: 30px;
  display: inline-block;
  text-align: center;
  border-bottom: 3px solid #314cc6;
  color: #000;
  font-family: 'freight_medium';
  &.invert {
    color: #fff;
    border-color: #fff;
  }
}

.circle-btn {
  background-color: transparent;
  position: relative;
  min-height: 50px!important;
  border: 0;
  min-width: 220px;
  display: inline-block;
  font: 16px/33px 'freight_bold';
  color: #314cc6;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  border-radius: 24px;
  &:before,
  &:after {
    background: #fff;
    will-change: transform;
    transition: all .5s;
    border-radius: 24px;
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &:before {
    z-index: 1;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
    height: calc(100% - 4px);
    width: calc(100% - 4px);
  }
  &:after {
    transition: all .2s;
    z-index: 0;
    height: calc(100% - 30px);
    width: 60%;
    top: 6px;
    left: 6px;
    box-shadow: none;
  }
  &:hover {
    background-color: transparent;
    color: #fff;
    &:before {
      box-shadow: none;
    }
    &:after {
      box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
      transition: all .4s;
      transition-delay: .1s;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    span:before {
      background: $blue-gradient;
      transition: all .3s;
    }
  }
  span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    &:before {
      transition: all .5s;
      border-radius: 24px;
      content: "";
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      position: absolute;
      top: 2px;
      left: 2px;
      z-index: -1;
    }
  }
}


@media screen and (min-width: 1025px) {
  .md-btn--text::before, .md-btn--text::after {
    display: block;
    visibility: visible;
  }
}

.img-wrap {
  img {
    display: block;
    width: 100%;
  }
}